html,
body {
    display: flex;
    align-items: center;
    background-color: #F5D04E;
}

.card {
    border-radius: 16px;
    background: #FFFFFF;
    box-shadow: 10px 10px 0px black,
        -10px -10px 0px #F5D04E;
    border: solid 1px black;
    width: 300px;
    height: 470px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-img {
    max-width: 90%;
    max-height: 80%;
    margin: 15px auto;
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-botton {
    background-color: #F5D04E;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 15%;
    height: 15px;
    margin-left: 20px;
    text-align: center;
    overflow: hidden;
    font-family: 'CustomFont';
    /* border: solid blue 2px; */
}

.card-botton p {
    margin-top: auto;
    margin-left: -6px;
    color: #111;
    font-size: 15px;
}
@font-face{
    font-family: 'publicFont';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.botton-pra {
    font-size: 12px;
    color: #161515;
    padding: 10px 20px;
    margin-top: 5px;
    margin-left: 2px;
    font-weight: bold;
    font-family: 'publicFont', sans-serif;
}

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.mean-tile {
    font-family: 'CustomFont', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.mean-pra {
    font-size: 16px;
    color: #858585;
    margin-left: 20px;
    margin-top: -2px;
    max-width: 86%;
    overflow: hidden;
}

.card-profile {
    display: flex;
    margin: 15px;
}

.profile-img {
    width: 25px;
    height: 25px;
}

.card-profile p {
    margin-top: 2px;
    font-family: 'CustomFont';
    margin-left: 8px;
    font-weight: bold;
}


/* break point */

@media screen and (min-width: 1440px) {
    .card {
        width: 400px;
        height: 600px;
        overflow:hidden;
        /* border: solid green 10px; */
    }

    .card-img {
        height: 40%;
        width: 100%;
        margin: 25px 20px 10px;
        border-radius: 15px;
        overflow: hidden;
        /* border: solid orange 2px; */
    }

    .card-img svg {
        width: 115%;
        height: auto;
        border-radius: 20px;
        margin-left: -5%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .card-botton {
        margin-top: 6%;
        margin-left: 6%;
        /* border: solid green; */
        max-width: 25%;
        overflow: hidden;
    }

    .card-botton p{
        font-weight: bolder;
        font-size: 20px;
        overflow: hidden;
    }
    
    .botton-pra{
        margin-top: 3%;
        margin-left: 3%;
        font-size: 18px;
        overflow: hidden;
    }

    .mean-tile{
        font-weight: bolder;
        font-size: 30px;
        margin-left: 6%;
        margin-top: 3%;
        overflow: hidden;
    }
    .mean-pra{
        overflow: hidden;
        margin-left: 6%;
        margin-top: 4%;
        font-size: 19px;
        overflow: hidden;
    }
    .card-profile{
        margin-left: 6%;
        margin-top: 5%;
        overflow: hidden;
    }
    .profile-img{
        width: 40px;
        height: 40px;
        overflow: hidden;
    }
    .card-profile p{
        margin-top: 12px;
        margin-left: 4%;
        font-weight: bolder;
        font-size: 19px;
        overflow: hidden;
    }
}

@media screen and (max-width: 375px) {
    .card {
        width: 85%;
        overflow: hidden;
    }

    .card-botton p {
        margin-left: -8px;
    }

    .mean-tile {
        overflow: hidden;
    }

    .mean-pra {
        overflow: hidden;
    }

    .card-profile {
        overflow: hidden;
    }
}

